header, section, footer {
    width: 960px;    
    margin-right: auto;
    margin-left: auto;
}

header {
    background-color: #00ff00;
    height: 100px;
}

#marca {
    width: 200px;
    height: 100px;
    background-color: steelblue;
    float: left;
}

#botonera {
    width: 450px;
    height: 100px;
    background-color: steelblue;
    float: right;
}

section {
    background-color: brown;
    height: 1000px;
}

footer {
    background-color: slategrey;
    height: 80px;
}